<!-- <h1 id="contact" class="bubble">Drop us a line!</h1> -->
<div id="group">
	<img src="images/office8.jpg" id="groupPic" />
</div>
<form id="contactForm" method="POST">
	<h1 id="contact" class="bubble">Drop us a line!</h1>
	<h4>Your Name:</h4>
	<input type="text" name="name" placeholder="Name" />
	<h4>Your Email:</h4>
	<input type="email" name="email" placeholder="Email" />
	<h4>Comments/Questions:</h4>
	<input type="text" name="subject" placeholder="Subject" /><br /><br />
	<textarea id ="commentBox" name="body" placeholder="Tell us what you think!"></textarea>
	<br /><br /><input id="contactSubmit" type="submit" value="Submit" />
</form>