<div class="floatdiv">
    <div class="container">
    <img src="images/michaelscott.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">If I had a gun with two bullets and I was in a room with Hitler, 
       Bin Laden, and Toby, I would shoot Toby twice.</div>
    </div>
    </div>
    <p>Dennis California</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/jimhalpert.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Everything I have I owe to this job...this stupid, wonderful, boring, amazing job.</div>
    </div>
    </div>
    <p>Nick Hipster</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/pambeesly.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Turns out there’s no limit to the number of cheese puffs you can throw at someone’s face.</div>
    </div>
    </div>
    <p>Katy Kars 4 Kids</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/dwightshrute.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Anyone who needs to speak to me has gotta go through me first.</div>
    </div>
    </div>
    <p>Calm Killer Cam</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/angelamartin.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">If you pray enough, you can turn yourself into a cat person.</div>
    </div>
    </div>
    <p>Just Cool Julia</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/kellykapoor.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Who am I? I'm Kelly Kapoor, the business bitch</div>
    </div>
    </div>
    <p>Asyfa Dropped</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/ryanhoward.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">When people see this presentation, they're gonna c** in their pants.</div>
    </div>
    </div>
    <p> Daddi Logan Baker</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/kevinmalone.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">You're too charactery to be a lead, and you're not fat enough to be a great character actor.</div>
    </div>
    </div>
    <p>Kevin</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/erinhannon.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">My last job was a Taco Bell Express. Then they became a full Taco Bell and I just couldn't keep up. 
</div>
    </div>
    </div>
    <p>Exciting Erin </p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/andybernard.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">I wish there was a way to know you're in the good old days before you've actually left them.</div>
    </div>
    </div>
    <p>Just cool James</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/daryllphilburn.jpeg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">I want to leave quietly, it seemed dignified. But having Kevin grind up on my front, while Erin pretended to hump me from behind, it was a more accurate tribute to my years here. I'm gonna miss these guys.</div>
    </div>
    </div>
    <p>Victorious Victor</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/gabelewis.jpeg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Sometimes I wonder if I have ovaries in my scrotum, because I am great at girl talk</div>
    </div>
    </div>
    <p>Awesome Oliver</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/robertcali.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Have you ever used Sabre electronics Jim? They're cheap, they're unintuitive. The Sabre store would work if we adopted the carnival model of leaving town once everyone is wise to us.</div>
    </div>
    </div>
    <p>Smart Steven</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/oscarmartinez.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Saddle shoes with denim? I will literally call protective services.</div>
    </div>
    </div>
    <p>Handsome Hans</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/toby.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Every Halloween, I tell him the same thing: You can't bring weapons into the office. And every year, he says the same thing: "As soon as I get my weapons back, I'm gonna kill you."</div>
    </div>
    </div>
    <p>Knowledge Neil</p>
</div>
 