<div class="floatdiv">
    <div class="container">
    <img src="images/michaelscott.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">If I had a gun with two bullets and I was in a room with Hitler, 
       Bin Laden, and Toby, I would shoot Toby twice</div>
    </div>
    </div>
    <p>Dennis California</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/jimhalpert.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Hello Everything I have I owe to this job...this stupid, wonderful, boring, amazing job</div>
    </div>
    </div>
    <p>Nick Hipster</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/pambeesly.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Hello World</div>
    </div>
    </div>
    <p>Katy Kindness</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/dwightshrute.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Anyone who needs to speak to me has gotta go through me first.</div>
    </div>
    </div>
    <p>Victor</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/angelamartin.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">If you pray enough, you can turn yourself into a cat person.</div>
    </div>
    </div>
    <p>Julia</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/kellykapoor.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Who am I? I'm Kelly Kapoor, the business bitch</div>
    </div>
    </div>
    <p>Asyfa Dropped</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/ryanhoward.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">When people see this presentation, they're gonna c** in their pants.</div>
    </div>
    </div>
    <p>Logan Baker</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/kevinmalone.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">You're too charactery to be a lead, and you're not fat enough to be a great character actor.

</div>
    </div>
    </div>
    <p>Neil</p>
</div><div class="floatdiv">
    <div class="container">
    <img src="images/erinhannon.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">My last job was a Taco Bell Express. Then they became a full Taco Bell and I just couldn't keep up. 
</div>
    </div>
    </div>
    <p>Erin </p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/andybernard.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">I wish there was a way to know you're in the good old days before you've actually left them.</div>
    </div>
    </div>
    <p>James</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/oscarmartinez.jpg" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Saddle shoes with denim? I will literally call protective services.</div>
    </div>
    </div>
    <p>Steven</p>
</div>
<div class="floatdiv">
    <div class="container">
    <img src="images/toby.png" alt="Avatar" class="image">
    <div class="overlay">
        <div class="text">Every Halloween, I tell him the same thing: You can't bring weapons into the office. And every year, he says the same thing: "As soon as I get my weapons back, I'm gonna kill you.</div>
    </div>
    </div>
    <p>Cam</p>
</div>
 <!-- 
      <li>
      <a id="note"  href="#">
        <h2>Michael Scott</h2>
        <p>"I'm not superstitious, but I am a little stitious."</p>
      </a>
      </li>
      <li>
      <a id="note" href="#">
        <h2>Pam</h2>
        <p>Text Content #2</p>
      </a>
      </li>
      <li>
     <a id="note" href="#">
       <h2>Jim</h2>
       <p>Text Content #3</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Creed</h2>
       <p>"Just pretend like we're talking until the cops leave.”</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Dwight</h2>
       <p>Text Content #5</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Kelly Kapoor</h2>
       <p>Text Content #6</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Michael</h2>
       <p>TDwight, you ignorant slut! -Michael Scott “</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Toby</h2>
       <p>"</p>
     </a>
   </li>
   <li>
     <a id="note" href="#">
       <h2>Michael</h2>
       <p>T"."</p>
     </a>
   </li>
 </ul> -->
</div>