
<div class="notemargin">
<ul class ="notes">
    <li>
      <a href="#">
        <p>Did I Stutter? Fridar is my happiest day
        -Stanley</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>"Ever since I've gotten clean there's something about fresh morning air that... just really makes me sick.
        -Ryan."</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>I say we fill Michael's office with bees. My apiarist owes me a favor.
        -Dwight</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>No one, uh asked you anything ever so whomever's name is Toby,
         why don't you take a letter opener and stick it in your skull?-
         Michael</p>
      </a>
    </li>
   <li>
      <a href="#">
        <p>When I asked, "what if you die, Dwight? How will we get into the office?" He said, "if I'm dead, you guys have been dead for weeks.
        -Toby"</p>
      </a>
    </li>
  </ul>
  </div>
<div>
	<h2 class="homeHeaders">About Dunder Mifflin</h2>
	<div class="homeDivs">
		<p class="homeText padTop padBottom">Dunder Mifflin has the best Manager in the whole world. Michael Scott rocks. Dunder Mifflin helps business customers make more happen by providing a broad assortment of paper products. Dunder Mifflin and Schrute Farms together cater to mid-market, commercial and enterprise-sized customers by offering a one-source solution for the products and services they need, combined with best-in-class customer service, competitive pricing and a state-of-the-art Sabre products. Headquartered in Scranton PA, Dunder Mifflin, Inc. operates throughout North and South America.</p>
	</div>
</div>
<iframe src="https://giphy.com/embed/Is1O1TWV0LEJi" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<div>
<h2 class="homeHeaders">About Sabre Printer</h2>
	<div class="homeDivs">
		<p class="homeText padTop">These three simple hues work together in Sabre printers to produce the full spectrum of colors on our Dunder Mifflin paper. Likewise, our "Print in All Colors" initiative uses the diversity of our employees to produce Sabre's premiere collection of printers and all-in-one machines.</p>
		<p class="homeText">Encouraging diversity not only gives a leg up to deserving people but allows Sabre to pull ideas and inventions from the widest collection of the most colorful minds on the planet. Our employees' brains are as cutting edge as our printers and they keep this company moving forward. Without diversity of thought, talent and experience, we might still be making dot matrix printers.</p>
		<p class="homeText padBottom">To encourage innovations and superb customer service, Sabre recruits, hires, trains, and promotes without regard to race, skin tone, gender, age, religion, marital status, disability, sexual orientation, national origin, veteran status, or surgical history. Our Junior Executive Trainee program (a part of "Print in All Colors") seeks out Sabre's best and brightest employees who otherwise would not be considered for management. These future leaders take with them not only their great minds and beautiful hearts but a cultural understanding that is unmatched. We encourage employees of color to apply.</p>
	</div>
</div>
<div id="sabrePics">
<img src="images/office16.jpg" id="robert" /><img src="images/office17.jpg" id="jo" /><img src="images/office18.jpg" id="gabe" />
</div>
<div class="notemargin">
<ul class ="notes">
    <li>
      <a href="#">
        <p>Fact. Bears eat beets. Bears. Beets. Battlestar Galactica.
        -Jim</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>"Webster's Dictionary defines wedding as: The fusing of two metals with a hot torch.
        -Michel Scott"</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>In order to take down Dwight, I have to chip away at his ally, which, in this case, is Michael.
        -Andy  </p>
      </a>
    </li>
    <li>
      <a href="#">
        <p><strong>"REMEMBER"</strong>It's rabies awareness month
        and The Dundies are coming up... get your votes in</p>
      </a>
    </li>
   <li>
      <a href="#">
        <p>That's what she said.
         -Michael Scott</p>
      </a>
    </li>
  </ul>
  </div>

<!-- post-its:
That's what she said. -Michael Scott
Bears. Beets. Battlestar Galactica. -Dwight Schrute
REMEMBER: It's rabies awareness month!
REMEMBER: The Dundies are coming up... get your votes in! -->

