<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/default.css" type="text/css">
    <title>Dunder Mifflin</title>
</head>
<body>
	<div id="header">
    <img id="logo" src="images/mifflinlogo.png" style="width:213px;height:160px;"><p id="slogan">Limitless paper in a paperless world.</p>
    </div>
    <nav>
	<div id="navbar"><p>Look Around:</p>
		<ul id="inner">
			<li><a id="home" href ="/">HOME</a></li>
			<li><a id="gallery" href="/gallery">GALLERY</a></li>
			<li><a id="contact" href="/contact">CONTACT</a></li>
			<li><a id="ordering" href ="/ordering">ORDERING</a></li>
		</ul>
	</div>
	</nav>

<%= yield %>

</body>
</html>