
<!-- TO DO: Pricing info -->

<h1 id="buy">Ready to buy some paper?</h1>
<form id="form">
	<h4>Your Name:</h4>
	<input type="text" name="name" placeholder="Name" />
	<h4>Enter email here (for 10% shipping discount) if you're on our mailing list:</h4>
	<input type="email" name="email" placeholder="Member Email" />
	<h4>Cases Of Paper (10 Case Minimum):</h4>
	<input type="text" name="cases" placeholder="Case Quantity" />
	<h4>Shipping Options:</h4>
	<input type="radio" name="shipping" value="overnight"> Overnight<br />
  	<input type="radio" name="shipping" value="2ndday"> 2nd Day Air<br />
  	<input type="radio" name="shipping" value="3-5day"> 3-5 Business Days<br />
  	<input type="radio" name="shipping" value="ground"> Ground (7-10 Business Days)
	  <br /><br /><button type="button" name ="button" id="submitOrder">Submit</button>
</form>